
.button
{
    width: 75px;
    height: 75px;
    font-size: 25px;
    margin: 2px;
    border: none;
    cursor: pointer;
    background: #3F5EFB;
    border-radius: 10%;
    color: white;
}
.button:hover
{
    background: #f64f59;
}
.textview
{
    width: 303px;
    margin: 5px;
    border: none;
    font-size: 25px;
    padding: 10px;
    background: #3F5EFB;
    border-radius:7px; 
    color: aliceblue;
}
.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bg1
{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);    

}
